LUMA_API_KEY=demo-key
LUMA_BASE_URL=https://luma-mock-server.vercel.app
GCP_PROJECT_ID=company-internal-tools-490516
GCP_LOCATION=europe-north1
SKAUPAT_STORE_ID=513971200
SKAUPAT_GRAPHQL_HASH=48756d592aa8fe6f1c9f560440bbdf8ce390ec3110fa34fc89b298c7d7a3bd4f
NEXT_PUBLIC_SUPABASE_URL=https://matumpamjqfqnstlolho.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1hdHVtcGFtanFmcW5zdGxvbGhvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY4ODgyNiwiZXhwIjoyMDkwMjY0ODI2fQ.NQkP3NRY5o9Vnv_aciHGRAosfGax6-W641pdJOh0R68
